option_settings:
  aws:elasticbeanstalk:container:python:staticfiles:
    /static/: static/
  aws:elasticbeanstalk:application:environment:
    FLASK_DEBUG: true
packages:
  yum:
    texlive: []
    texlive-pdftex: []
    texlive-latex: []
Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["awseb-e-bhiym2pdif-stack-AWSEBSecurityGroup-1C047CKPR1GC8", "sg-9f84e6f6"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
