html {
	background-color: #ffffff;
}

/* NAVBAR STUFF */
.navbar > .content > .navbar-wrapper {
  margin: 0;
  padding-left: 0px;
}

.navbar a.navbar-brand {
  font-size: 32px;
  font-weight: 500;
  padding: 10px 10px;
}

.navbar-logo {
  float: left;
  height: 45px;
  max-width: 100px;
  padding: 2px;
}

.hero-banner {
    padding-bottom: 0px;
}

/* FOOTER STUFF */
.footer {
    border-top: 5px solid #005ea5;
    background-color: #dee0e2;
    min-height: 0px;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer > .content {
  padding-left: 30px;
}

/* ERROR BAR STUFF */
.error-banner {
  background-color: #e02a2a;
  margin-top: -10px;
  display: block;
  color: white;
  padding: 0px;
}

.error-banner > .content > .row {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* CLERK LOGIN STUFF */
.clerk-login-form > button{
  font-size: 18px;
}


/* STATION FORM STUFF */
form > .station-info-entry {
  display: block;
  width: 60%;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 30px;
}

.station-info-entry > label{
  font-size: 25px;
}

.find-voter-form > button{
  font-size: 18px;
}

.station-info-entry > p{
  font-size: 20px;
}


.find-voter-form > .form-group > .has-errors {
    border: 2px solid #ff0000;
}

.form-control {
  font-size: 20px;
  height: 45px;
  width: 500px;
}

.postcode {
  width: 300px;
}

.form-login {
  width: 400px;
}
/* VOTER TABLE STUFF */
.voterdb-btn {
  padding: 6px 12px 4px 12px;
  width: 124px;
}

.voterdb-btn-active {
  background-color: #ed571c;
  border-color: #ed571c;
	-webkit-box-shadow: 0 2px 0 #b64316;
  -moz-box-shadow: 0 2px 0 #b64316;
  box-shadow: 0 2px 0 #b64316;
  padding: 6px 12px 4px 12px;
  width:124px;
}

.voterdb-btn-active:hover {
	color: #fff;
	border: 3px solid #b64316;
}
.voterdb-btn-active:hover {
	background-color: #b64316;
}

.voterdb-btn-dead {
  background-color: #e80000;
  border-color: rgba(0, 0, 0, 0);
  padding: 6px 12px 4px 12px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead > tr {
  font-size: 18px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}
