/* NAVBAR STUFF */
.navbar > .content > .navbar-wrapper {
  margin: 0;
  padding-left: 0px;
}

.navbar a.navbar-brand {
  font-size: 32px;
  font-weight: 500;
  padding: 10px 10px;
}

.navbar-logo {
  float: left;
  height: 45px;
  max-width: 100px;
  padding: 2px;
}

/* FOOTER STUFF */
.footer > .content {
  padding-left: 30px;
}


/* STATION FORM STUFF */
.station-info-entry {
  display: block;
  width: 60%;
  padding-bottom: 10px;
  line-height: 1.5;
  font-size: 30px;
}

.station-info-entry > p{
  font-size: 20px;
}

.form-control {
  font-size: 20px;
  height: 45px;
  width: 500px;
}

.postcode {
  width: 300px;
}

.form-login {
  width: 400px;
}

/* VOTER TABLE STUFF */
.voterdb-btn {
  padding: 6px 12px 4px 12px;
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.table > thead > tr {
  font-size: 18px;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}
