{% extends 'base.html' %}
{% block title %}Station{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  <h1> You are the poll clerk. </h1>
{% endblock %}

{% block body %}
  {{ super() }}
  <div class="form-group station-info-entry">
    <label class="control-label" for="userName">First name(s)</label>
    <input type="text" class="form-control" id="userName">
    <p class="help-block">Full name registered to vote.</p>
  </div>
  <div class="form-group station-info-entry">
    <label class="control-label" for="userName">Postcode</label>
    <input type="text" class="form-control" id="userName">
    <p class="help-block">You know what a postcode is.</p>
  </div>

  <button class="btn btn-primary btn-start">Search voter database</button>
{% endblock %}
