<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <title>E-lection - {% block title %}{% endblock %}</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/govstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}
  </head>

  <body>

    <nav class="navbar">
      <div class="content">
        <div class="container navbar-wrapper">
          <div class="navbar-header">
            <img class="navbar-logo" src="/static/img/crown.png">
            <a href="/" class="navbar-brand" id="logo"> E-LECTION

            </a>
          </div>
        </div>
      </div>
    </nav>


    <section class="container-fluid hero-banner">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            <h2>{% block content %}{% endblock %}</h2>
          </div>
        </div>
      </div>
    </section>

    {% if message %}
    <section class="container-fluid error-banner">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
              <h3>Error: {% block error %}{{ message }}{% endblock %}</h3>
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    <section class="container-fluid">
      <div class="content">
        <div class="row">
          <div class="col-sm-12">
            {% block body %}{% endblock %}
          </div>
        </div>
      </div>
    </section>

    <section class="navbar navbar-fixed-bottom footer">
      <div class="content">
        <div class="row footer-bottom">
          Coming soon to a polling station near you...
        </div>
      </div>
    </section>
  </body>

  {% block footer %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/govstrap.js"></script>
  {% endblock %}
</html>
