{% extends 'base.html' %}
{% block title %}Station{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  Ask the voter for their first name and postcode.
{% endblock %}

{% block body %}
  {{ super() }}
  <form action="{{ url_for('station') }}" class="find-voter-form" method="post" name="find-voter">
    <div class="form-group station-info-entry">
      <label class="control-label" for="userName">First name(s)</label>
      <input type="text" class="form-control" name="firstname">
      <p class="help-block">Forename name registered to vote.</p>
    </div>
    <div class="form-group station-info-entry">
      <label class="control-label" for="userName">Postcode</label>
      <input type="text" class="form-control postcode" name="postcode">
      <p class="help-block">You know what a postcode is.</p>
    </div>
    {{ form.csrf_token }}
    <button class="btn btn-primary btn-start" type="submit" value="Search for voter" name="voter-search">Search voter database</button>

  </form>
{% endblock %}
