{% extends 'base.html' %}
{% block title %}Voters{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
  These are the voters with that name and postcode.
{% endblock %}]

{% block message %}
  {{ super() }}
  {{ error_message }}
{% endblock %}

{% block body %}
  {{ super() }}
  <form action="{{ url_for('voterpincard') }}" method="post">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Address</th>
          <th>Postcode</th>
          <th>D.O.B</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <!--repeat this table row for each item in items-->
          {% for voter in voters %}
          <tr>
              <td>{{voter.fields.first_name}}</td>
              <td>{{voter.fields.last_name}}</td>
              <td>{{voter.fields.addr_line_1}} {% if voter.fields.addr_line_2 %} {{ voter.fields.addr_line_2 }} {% endif %}</td>
              <td>{{voter.fields.postcode}}</td>
              <td>{{voter.fields.date_of_birth[8:10]}}/{{voter.fields.date_of_birth[5:7]}}/{{voter.fields.date_of_birth[:4]}}</td>
              <td>
                <input class="btn btn-primary voterdb-btn" type="submit" name="{{ voter.pk }}" value="Request PIN" />
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script type="text/javascript" src="{{ url_for('static', filename='station.js') }}"></script>
{% endblock %}
