{% extends 'base.html' %}
{% block title %}Voters{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  {{ super() }}
These are the voters with that name.
{% endblock %}

{% block body %}
  {{ super() }}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Address</th>
        <th>D.O.B</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <!--repeat this table row for each item in items-->
        {% for voter in voters %}
        <tr>
            <td>{{voter.fields.first_name}}</td>
            <td>{{voter.fields.last_name}}</td>
            <td>{{voter.fields.addr_line_1}}, {{voter.fields.addr_line_2}}, {{voter.fields.postcode}}</td>
            <td>{{voter.fields.date_of_birth}}</td>
            <td>
              <button class="btn btn-primary voterdb-btn">Request PIN</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}
